.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  input {
    width: 200px;
    padding: 5px;
  }
  
  button {
    background: content-box;
    border: none;
  }
  